// 颜色规范
$background= #fcfcfc;
$background-opt= rgba(26,26,26,.8);
$background-header-main= rgba(0,0,0,0);
$background-header= rgba(0,0,0,.5);
$background-light= #f7f7f7;
$background-dialog= rgb(242, 242, 242);

// 主题
$theme-color=#ffaf22;

// 字体颜色
$color-text=#ffffff
$color-text-s=#4d4d4d
$color-text-m=grey
$color-text-l=rgba(255,255,255,.8)

//字体大小
$font-size-xs=10px;
$font-size-s=12px;
$font-size-m=14px;
$font-size-l=16px;
$font-size-xl=18px;
$font-size-ll=22px;
$font-size-xxl=24px;
$font-size-xxxl=32px;
$font-size-xxxxl=46px;
$font-size-swiper-p=35px;
$font-size-title=50px;
$font-size-swiper-title=55px;

